<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Reset default -->
    <link rel="stylesheet" href="./css/reset.css" />

    <!-- embed font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <!-- Style -->
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <!-- header -->
    <header class="header fixed">
      <div class="main_content">
        <div class="body_header">
          <!-- logo -->
          <img
            src="./image/favicon.ico"
            alt="FPT Information Assurance Club"
            class="logo"
          />
          <!-- navigation - nav -->
          <nav class="nav">
            <ul>
              <li>
                <a href="#!">Home</a>
              </li>
              <li class="active">
                <a href="#!">Members</a>
              </li>
              <li>
                <a href="#!">Events</a>
              </li>
              <li>
                <a href="#!">Funds</a>
              </li>
            </ul>
          </nav>
          <!-- btn action -->
          <!-- <div class="action">
            <a href="#!" class="btn btn-signup">Sign up</a>
          </div> -->
        </div>
      </div>
    </header>
  </body>
</html>
